* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body #main {
  height: 100%;
  text-align: center;
  overflow: hidden;
}

#rotate {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#rotate h1 {
  margin: 0 0 5% 0;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
}
#rotate img {
  margin: 10% 0;
}
#rotate h4 {
  margin: 5% 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
}
#rotate h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  margin: 2% 0;
}
#rotate button {
  margin: 3% 0;
  cursor: pointer;
  background: #000;
  border-radius: 15px;
  border: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  padding: 10px 20px;
  pointer-events: all;
}
#rotate button:active {
  outline: none;
  border: none;
}

#unsupport {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#unsupport h1 {
  margin: 0 0 5% 0;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
}
#unsupport h2 {
  margin: 5% 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
}

#info {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#info h1 {
  margin: 0 0 30px 0;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
}
#info h4 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
#info h4 i {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}
#info input {
  border: none;
  background: #000;
  outline: none;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  padding: 10px 20px;
  pointer-events: all;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  border-radius: 10px;
  margin: 30px 0 20px;
}
#info input::-moz-placeholder {
  color: #9b8d8d;
  text-transform: uppercase;
}
#info input:-ms-input-placeholder {
  color: #9b8d8d;
  text-transform: uppercase;
}
#info input::placeholder {
  color: #9b8d8d;
  text-transform: uppercase;
}
#info button {
  cursor: pointer;
  background: #000;
  border-radius: 15px;
  border: none;
  font-style: normal;
  font-size: 20px;
  pointer-events: all;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  padding: 10px 40px;
}
#info button:active {
  outline: none;
  border: none;
}

@media only screen and (max-width: 450px) {
  #rotate {
    display: block;
  }

  #info,
#hra {
    display: none !important;
  }
}
#hra {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  max-width: 812px;
  max-height: 375px;
}

.stadion {
  margin: 3% auto;
  height: 97%;
  width: 95%;
}

.siet {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#dark {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  filter: blur(5px);
  opacity: 0.6;
  top: 0px;
}

#counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 100px;
  border: 5px solid #fff;
  padding: 50px;
  height: 35px;
  width: 35;
  font-size: 30px;
  font-weight: bold;
  z-index: 20;
  color: #fff;
}

.strelec {
  position: absolute;
  left: 50%;
  top: 51%;
  transform: scale(1.4);
  -webkit-animation: wtf 5s infinite;
          animation: wtf 5s infinite;
}

#score {
  position: absolute;
  top: 80px;
  left: 80px;
  background: black;
  width: 120px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  border-radius: 10px;
  display: none;
}

#hearts {
  position: absolute;
  top: 118px;
  left: 80px;
  width: 120px;
  text-align: center;
  display: none;
}

#goolText {
  display: none;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  letter-spacing: 12px;
  color: #000;
}

#goolButton {
  display: none;
  position: absolute;
  z-index: 230;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  cursor: pointer;
  background: #000;
  border-radius: 15px;
  border: none;
  font-style: normal;
  font-size: 20px;
  pointer-events: all;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  padding: 10px 40px;
}
#goolButton:active {
  outline: none;
  border: none;
}

.goButton {
  display: none;
  position: absolute;
  z-index: 230;
  left: 50%;
  top: 60%;
  cursor: pointer;
  background: #000;
  border-radius: 15px;
  border: none;
  font-style: normal;
  font-size: 20px;
  pointer-events: all;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  padding: 10px 40px;
}
.goButton:nth-child(1) {
  transform: translateX(110%);
}
.goButton:nth-child(2) {
  transform: translateX(-110%);
}
.goButton:active {
  outline: none;
  border: none;
}

.lopta {
  transition: 0.5s;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 51%;
  transform: scale(0.4) translateY(100px) translateX(13px);
  filter: blur(3px) brightness(0.8);
}

.ruky {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 30;
}

.clickable_ball {
  filter: blur(0) brightness(1);
  pointer-events: all;
  touch-action: manipulation;
}

#nice {
  position: absolute;
  font-size: 40px;
  color: #fff;
}

.effect {
  -webkit-animation: cuus 5s;
          animation: cuus 5s;
}

@-webkit-keyframes cuus {
  from {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
  to {
    transform: translateY(-100px);
    filter: blur(5);
    opacity: 0;
  }
}

@keyframes cuus {
  from {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
  to {
    transform: translateY(-100px);
    filter: blur(5);
    opacity: 0;
  }
}
.lopta_default {
  -webkit-animation: wtf 5s infinite;
          animation: wtf 5s infinite;
}

.lopta_zoom_3s {
  -webkit-animation: zoomB 3s;
          animation: zoomB 3s;
}

@-webkit-keyframes zoomB {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1.4);
  }
}

@keyframes zoomB {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1.4);
  }
}
.blur {
  filter: blur(5px);
}

@-webkit-keyframes wtf {
  0% {
    top: 50%;
    left: 50%;
  }
  20% {
    top: 51%;
    left: 50%;
  }
  40% {
    top: 51%;
    left: 48%;
  }
  60% {
    top: 52%;
    left: 50%;
  }
  80% {
    top: 50%;
    left: 52%;
  }
  100% {
    top: 49%;
    left: 50%;
  }
}

@keyframes wtf {
  0% {
    top: 50%;
    left: 50%;
  }
  20% {
    top: 51%;
    left: 50%;
  }
  40% {
    top: 51%;
    left: 48%;
  }
  60% {
    top: 52%;
    left: 50%;
  }
  80% {
    top: 50%;
    left: 52%;
  }
  100% {
    top: 49%;
    left: 50%;
  }
}
#leader {
  margin: 20px 0;
  text-align: center;
}
#leader h4 {
  margin: 10px 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
}
#leader button {
  margin: 3% 0;
  cursor: pointer;
  background: #000;
  border-radius: 15px;
  border: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  padding: 10px 20px;
  pointer-events: all;
}
#leader button:active {
  outline: none;
  border: none;
}
#leader div {
  margin: 15px auto;
  width: 250px;
  background-color: #000;
  border-radius: 15px;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
}
#leader div p {
  float: right;
}/*# sourceMappingURL=style.css.map */